<div class="container mt-5" style="max-width: 400px;">
  <app-toast></app-toast>
  <h4 class="mb-4 text-center">Login</h4>

  <form #loginForm="ngForm" (ngSubmit)="onSubmit()">
    <div class="mb-3">
      <label>Email</label>
      <input
        type="email"
        name="email"
        class="form-control"
        [(ngModel)]="email"
        required
        email
      />
      @if (loginForm.submitted && !email) {
        <div class="text-danger small">Email is required</div>
      }
    </div>

    <div class="mb-3">
      <label>Password</label>
      <input
        type="password"
        name="password"
        class="form-control"
        [(ngModel)]="password"
        required
        minlength="6"
      />
      @if (loginForm.submitted && !password) {
        <div class="text-danger small">Password is required</div>
      }
    </div>

    <button class="btn btn-primary w-100" [disabled]="loginForm.invalid">
      Login
    </button>
  </form>
</div>
